@import './../../_variables.scss';

.blueprint {
    display: flex;
    flex-direction: column;
    align-items: center;

    .blueprint-content {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 3.125rem;

        .title-description {
            .description {
                margin: 1.25rem 0;
            }
        }

        .input-container {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            grid-gap: 0.7rem;
            margin-bottom: 1.5rem;
            width: 100%;

            .input-group {
                > input {
                    display: none;

                    &:checked + label {
                        background-color: #323232;
                        border: none;
                        color: #fff;
                    }
                }

                > label {
                    border: 1px solid #323232;
                    cursor: pointer;
                    padding: 0.5rem 1rem;
                    text-align: center;
                    width: 100%;
                    transition: all 0.2s ease-in;

                    &:hover {
                        background-color: #eee;
                    }
                }
            }
        }

        .blueprint-download-pdf {
            background-color: #323232;
            color: #fff;
            justify-self: end;
            margin-bottom: 2rem;
            padding: 0.5rem 1rem;
            text-align: center;
            transition: all 0.2s ease-in;
            width: 100%;

            &:hover {
            }
        }
    }

    .slider {
        height: 50vh;
        margin-bottom: 3.125rem;

        .slider-slide {
            img {
                object-position: center;
            }
        }
    }

    @media screen and (min-width: $breakpoint-mobile) {
        .blueprint-content {
            grid-template-columns: 1fr 2fr;
            max-width: $desktop-max_width;
            justify-content: space-between;
            align-items: flex-start;
            grid-gap: 4rem;
            margin-bottom: 4rem;

            .title-description {
                .section-title {
                    span {
                        width: 100%;
                    }

                    margin-bottom: 2rem;
                }
            }

            .input-container {
                grid-template-columns: repeat(2, 1fr);
                margin-top: 4rem;
            }

            .blueprint-download-pdf {
                grid-column-start: 2;
                margin-bottom: 0;
                width: 210px;
            }
        }
    }
}
