@import './../../_variables.scss';

.blueprint {
    display: flex;
    flex-direction: column;
    align-items: center;

    .blueprint-content {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 3.125rem;

        .title-description {
            .description {
                margin: 1.25rem 0;
            }
        }

        .input-container {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            grid-gap: 0.7rem;
            margin-bottom: 1.5rem;
            width: 100%;

            .input-group {
                > input {
                    display: none;

                    &:checked + label {
                        background-color: #323232;
                        border: none;
                        color: #fff;
                    }
                }

                > label {
                    border: 1px solid #323232;
                    cursor: pointer;
                    padding: 0.5rem 1rem;
                    text-align: center;
                    width: 100%;
                    transition: all 0.2s ease-in;

                    &:hover {
                        background-color: #eee;
                    }
                }
            }
        }

        .downloadable-input-container {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            gap: 1em;
            margin-bottom: 2em;

            .downloadable-input {
                background-color: #323232;
                color: #fff;
                justify-self: end;
                padding: 0.5rem 1rem;
                text-align: center;
                transition: all 0.2s ease-in;
                width: 100%;

                &:hover {
                }
            }
        }
    }

    .view-360 {
        width: 100%;
        height: auto;
        
        > iframe {
            aspect-ratio: 16 / 9;
            width: 100%;

        }
    }

    .slider {
        height: 65vh;
        margin-bottom: 3.125rem;

        .slider-slide {
            img {
                object-fit: contain !important;
                object-position: center;
            }
        }

        .slick-arrow {
            &.slick-prev,
            &.slick-next {
                &::before {
                    color: #000;
                }
            }
        }
    }

    @media screen and (min-width: $breakpoint-mobile) {
        .blueprint-content {
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr auto;
            grid-gap: 4rem;
            grid-auto-flow: column;
            max-width: $desktop-max_width;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 4rem;

            .title-description {
                .section-title {
                    span {
                        width: 100%;
                    }

                    margin-bottom: 2rem;
                }
            }

            .input-container {
                grid-template-columns: repeat(2, 1fr);
                margin-top: 4rem;
            }

            .downloadable-input-container {
                align-self: flex-start;
                margin-bottom: 1em;

                .downloadable-input {
                    justify-self: flex-start;
                    margin-bottom: 0;
                    width: 210px;

                    &.floors-btn {
                        justify-self: flex-end;
                    }
                }
            }
        }

        .view-360 {
            max-width: $desktop-max_width;
        }

        .slider {
            height: 80vh;
        }
    }
}
