@import './../../variables';

@media screen and (min-width: $breakpoint-mobile) {
    .dropdown {
        position: absolute;
        background-color: hsla(0, 0%, 100%, 0.63);
        // background-color: #eee;
        top: 45px;
        left: 0;
        width: 240px;
        padding: 0.5rem;
        overflow: hidden;
        transition: height 0.2s ease;

        // &.nav-item-transition {
        //     &-enter {
        //         transform: translateX(110%);
        //         transition: transform 0.3s ease-in-out;
        //         &-active {
        //             transition: transform 0.3s ease-in-out;
        //             transform: translateX(0);
        //         }
        //     }

        //     &-exit {
        //         &-active {
        //             transform: translateX(110%);
        //             transition: transform 0.3s ease-in-out;
        //         }
        //     }
        // }
    }

    .menu {
        width: 100%;

        &-item {
            height: 50px;
            display: flex;
            align-items: center;
            border-radius: var(--border-radius);
            transition: background var(--speed);
            padding: 0.5rem;
            font-size: 0.9rem;
            height: auto;
            position: relative;
            overflow-x: visible;

            &:hover {
                background-color: hsla(0, 0%, 100%, 0.70);
            }

            span {
                position: absolute;
                left: -15px;
                height: 14px;

                svg {
                    max-height: 100%;
                    height: 100%;
                    fill: #000;
                }

                &.icon-left {
                    // margin-right: -20px;
                }

                &.icon-right {
                    margin: 0;
                    margin-left: 7px;
                }
            }
        }

        &-secondary {
            &-enter {
                &-active,
                &-done {
                    padding-left: 20px;
                }
            }
        }
    }
}
