@import './../../variables';

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    .description {
        text-align: center;

        p {
            margin: 10px 0;
        }

        img {
            height: 170px;
            margin: 40px 0;
            object-fit: cover;
            width: 100%;
        }
    }

    @media screen and (min-width: $breakpoint-mobile) {
        margin: 0 auto;
        max-width: $desktop-max_width;

        .description {
            img {
                height: 400px;
            }
        }
    }
}
