@import './../../_variables.scss';

.navbar {
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.63);
    display: flex;
    height: $header-height;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100vw;
    z-index: 99;

    &.scroll {
        background-color: #eee;
    }

    .logo {
        height: 100%;
        svg {
            height: 100%;
        }
    }

    .navbar-nav {
        > * {
            display: none;

            &:last-child {
                display: block;
            }
        }
    }

    @media screen and (min-width: $breakpoint-mobile) {
        .navbar-nav {
            display: flex;
            > * {
                display: flex;

                &:last-child {
                    display: none;
                }
            }
        }
    }
}
