@import './../../variables';

.sidebar {
    background-color: hsla(0, 0%, 16%, 0.95);
    box-shadow: -5px 0px 10px -4px #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$header-height});
    right: 0;
    top: $header-height;
    position: absolute;
    width: 80%;

    &.nav-item-transition {
        &-enter {
            transform: translateX(110%);
            transition: transform 0.3s ease-in-out;
            &-active {
                transition: transform 0.3s ease-in-out;
                transform: translateX(0);
            }
        }

        &-exit {
            &-active {
                transform: translateX(110%);
                transition: transform 0.3s ease-in-out;
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        padding: 10px;

        &-item {
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0.5rem;
            font-size: 1rem;
            height: auto;
            position: relative;
            overflow-x: visible;

            &.submenu {
                font-size: 16px;
                padding-top: 0;
                padding-left: 30px;
            }

            span {
                height: 15px;
                position: relative;

                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    max-height: 100%;
                    height: 100%;
                    fill: #fff;
                }

                &.icon-left {
                    margin: 10px 0;
                }

                &.icon-right {
                    margin: 0;
                    margin-left: 7px;
                }
            }
        }

        &-secondary {
            &-enter {
                position: absolute;
                transform: translateX(-110%);

                &-active {
                    transform: translateX(0%);
                    transition: all 0.2s ease;
                }
            }

            &-exit {
                position: absolute;

                &-active {
                    transform: translateX(-110%);
                    transition: all 0.2s ease;
                }
            }
        }

        &-secondary {
            &-enter {
                transform: translateX(110%);

                &-active,
                &-done {
                    transform: translateX(0%);
                    transition: all 0.2s ease;

                    > * {
                        padding-left: 30px;
                    }
                }
            }

            &-exit {
                &-active {
                    transform: translateX(110%);
                    transition: all 0.2s ease;
                }
            }
        }
    }

    /* CSSTransition classes  */
    // .menu-primary {
    //     &-enter {
    //         position: absolute;
    //         transform: translateX(-110%);
    //         transition: transform 0.2s ease;

    //         &-active {
    //             transform: translateX(0%);
    //             transition: transform 0.2s ease;
    //         }
    //     }

    //     &-exit {
    //         position: absolute;

    //         &-active {
    //             display: none;
    //             transition: transform 0.2s ease;
    //         }
    //     }
    // }

    // .menu-secondary {
    //     &-enter {
    //         transform: translateX(110%);

    //         &-active {
    //             transform: translateX(0%);
    //             transition: transform 0.2s ease;
    //         }
    //     }
    // }
    // .menu-secondary-exit {
    //     &-active {
    //         transform: translateX(110%);
    //         transition: transform 0.2s ease;
    //     }
    // }
}
