@import './../../variables';

.location-map {
    align-items: center;
    display: flex;
    flex-direction: column;

    .location-address {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    > iframe {
        border: none;
        height: 50vh;
        width: 100%;
        margin-bottom: 2rem;
    }

    @media screen and (min-width: $breakpoint-mobile) {
        .location-address {
            margin-bottom: 2.5rem;
        }

        > iframe {
            height: 40vh;
        }
    }
}
