@import './../../variables';
.nav-item {
    .desktop {
        display: none;
    }

    @media screen and (min-width: $breakpoint-mobile) {
        .desktop {
            display: block;
        }

        .mobile {
            display: none;
        }

        margin: 0 10px;

        a {
            position: relative;
            overflow-x: hidden;

            &::after {
                transition: all 0.3s ease-in-out;
                background-color: #000;
                bottom: 0;
                left: 0;
                transform: translateX(-110%);
                position: absolute;
                content: '';
                height: 2px;
                width: 100%;
            }    
            
            &:hover{
                &::after{
                    transform: translateX(0);
                }
            }
        }
    }
}
