@import './../../variables';
.card-navigation {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 30px 0;

    .title {
        font-size: 1.3rem;
        margin-bottom: 40px;
    }

    .card-container {
        width: 100%;
    }

    @media screen and (min-width: $breakpoint-mobile) {
        padding: 0;

        .title {
            font-size: 1.8rem;
        }

        .card-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
        }
    }
}
