@import './../../variables';

.slider {
    position: relative;
    height: 100vh;
    width: 100vw;

    * {
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    &-slide {
        img {
            object-fit: cover !important;
            object-position: center bottom;
        }
    }

    .slick-initialized {
        overflow: hidden;
    }

    .slick-dots {
        bottom: 20px;
        height: auto;
        position: absolute;
        li {
            button {
                &::before{
                    color: #fff;
                    font-size: 10px;
                }
            }
        }
    }

    .slick-arrow {
        $arrow-width: 40px;
        $arrow-height: $arrow-width;

        top: unset;
        left: unset;
        bottom: 5px;
        position: absolute;
        width: $arrow-width;
        height: $arrow-height;
        z-index: 99;
        transform: translate(0);
        border-radius: 50%;

        &.slick-next {
            right: 10px;
        }
        &.slick-prev {
            right: $arrow-width + 5px;
        }

        &.slick-prev,
        &.slick-next {
            &::before {
                font-size: 2rem;
                transition: opacity 0.2s ease-in-out;

            }
            &:hover {
                opacity: 1;
            }
        }
    }

    @media screen and (min-width: $breakpoint-mobile) {
        .slick-arrow {
            $arrow-width: 60px;
            $arrow-height: $arrow-width;

            height: $arrow-height;
            width: $arrow-width;

            &.slick-next {
                right: 30px;
            }
            &.slick-prev {
                right: $arrow-width + 15px;
            }

            &.slick-prev,
            &.slick-next {
                &::before {
                    font-size: 2.5rem;
                }
            }
        }
    }
}
