.slider {
    height: 100vh;
    width: 100vw;

    * {
        width: 100vw;
        height: 100vh;
        z-index: 0;
    }

    &-slide {
        img {
            object-fit: cover !important;
            object-position: center bottom;
        }
    }

    .slick-initialized {
        overflow: hidden;
    }
}
